<H1> To compare the famous cities of the world as tourist destination based on the venues nearby.

Import the libraries which are required

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
%matplotlib inline 
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
mpl.style.use('ggplot') # optional: for ggplot-like style

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

<H4> Only following cities will be compared

In [2]:
places = ['Paris','London','Sydney','New York','Toronto','Wellington']

In [3]:
column_names = ['Cites', 'Latitude', 'Longitude']
# instantiate the dataframe
city_df = pd.DataFrame(columns=column_names)

In [5]:
for place in places:
    address = place
    geolocator = Nominatim(user_agent="my-application")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    print('The geograpical coordinate of'+ place +' are {}, {}.'.format(latitude, longitude))
    city_df = city_df.append({'Cites':place,'Latitude':latitude,'Longitude':longitude},ignore_index=True)
    
city_df.head()

The geograpical coordinate ofParis are 48.8566101, 2.3514992.
The geograpical coordinate ofLondon are 51.5073219, -0.1276474.
The geograpical coordinate ofSydney are -33.8548157, 151.2164539.
The geograpical coordinate ofNew York are 40.7127281, -74.0060152.
The geograpical coordinate ofToronto are 43.653963, -79.387207.
The geograpical coordinate ofWellington are -41.2887953, 174.7772114.

      Cites   Latitude   Longitude
0     Paris  48.856610    2.351499
1    London  51.507322   -0.127647
2    Sydney -33.854816  151.216454
3  New York  40.712728  -74.006015
4   Toronto  43.653963  -79.387207

<H4> Foursquare Credentials to get top 10 venues of the city.

In [6]:
CLIENT_ID = 'IXZTV3FGO0IWSZU40ZJZUWVSAMKKVPW2PZ32A14EREGUG3ZH' #your Foursquare ID
CLIENT_SECRET ='TU3G3DBF5PEO5N5YAZMJEIMKDUDEBK0QVADP1PF21KXJCBCA' # your Foursquare Secret
VERSION = '20191908'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: IXZTV3FGO0IWSZU40ZJZUWVSAMKKVPW2PZ32A14EREGUG3ZH
CLIENT_SECRET:TU3G3DBF5PEO5N5YAZMJEIMKDUDEBK0QVADP1PF21KXJCBCA

In [7]:
def Top10Venues(names, latitudes, longitudes, radius=500, LIMIT=10):
    
    venues=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues.append([(
            name, 
            lat, 
            lng,            
            v['venue']['name'], 
            v['venue']['id'],
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues for item in venue_list])
    nearby_venues.columns = ['City', 
                  'City Latitude', 
                  'City Longitude', 
                  'Venue',
                  'Venue id',                
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category'        
                   ]
    
    return(nearby_venues)

<H2> The dataset which will be used for comparision

In [8]:
city_venues = Top10Venues(names=city_df['Cites'], latitudes=city_df['Latitude'], longitudes=city_df['Longitude'])
city_venues

Paris
London
Sydney
New York
Toronto
Wellington

,City,City Latitude,City Longitude,Venue,Venue id,Venue Latitude,Venue Longitude,Venue Category
0,Paris,48.856610,2.351499,Place de l'Hôtel de Ville – Esplanade de la Li...,4bf41231e5eba59334341f90,48.856925,2.351412,Plaza
1,Paris,48.856610,2.351499,Parc Rives de Seine,58e0f18f561ded7abcbbbd01,48.855510,2.351419,Park
2,Paris,48.856610,2.351499,Berges de Seine – Rive droite,58d800df9435a979b8a645fa,48.855131,2.352289,Pedestrian Plaza
3,Paris,48.856610,2.351499,L'Alsacien,54351b59498e123ee4afc7ff,48.858275,2.350381,Alsatian Restaurant
4,Paris,48.856610,2.351499,Häagen-Dazs,4cb2fc20db32f04d6da9d34d,48.854879,2.350233,Ice Cream Shop
5,Paris,48.856610,2.351499,LUSH,4d628e33e4fe548152b8979e,48.857791,2.351622,Cosmetics Shop
6,Paris,48.856610,2.351499,BHV Marais,4b4b6a3df964a520b89a26e3,48.857312,2.353633,Department Store
7,Paris,48.856610,2.351499,Maison Aleph,59247f4e0d2be70573edd834,48.857348,2.354873,Pastry Shop
8,Paris,48.856610,2.351499,Square de la Tour Saint-Jacques,4dbd336b6a23e294ba405cfa,48.857882,2.348757,Park
9,Paris,48.856610,2.351499,Tour Saint-Jacques,4b5c7d1ff964a5205f3229e3,48.858031,2.348875,Historic Site
10,London,51.507322,-0.127647,National Gallery,4ac518cdf964a520e6a520e3,51.508876,-0.128478,Art Museum
11,London,51.507322,-0.127647,Trafalgar Square,4ac518cef964a520f9a520e3,51.508128,-0.128086,Plaza
12,London,51.507322,-0.127647,East Trafalgar Square Fountain,50aa7c98e4b0d042f9f0bd59,51.508088,-0.127700,Fountain
13,London,51.507322,-0.127647,Sainsbury Wing National Gallery,5320a0a6498e8dd49f5aa981,51.508384,-0.129001,Art Museum
14,London,51.507322,-0.127647,ESPA Life at Corinthia,509e51b6e4b03f3cc1f3f56c,51.506402,-0.125114,Spa
15,London,51.507322,-0.127647,St Martin-in-the-Fields,4b9a4eb0f964a5202bab35e3,51.508746,-0.126507,Church
16,London,51.507322,-0.127647,Corinthia Hotel,4d274945d86aa09024d41dc0,51.506607,-0.124460,Hotel
17,London,51.507322,-0.127647,Nelson's Column,4ae5c61ff964a520efa121e3,51.507744,-0.127931,Monument / Landmark
18,London,51.507322,-0.127647,National Portrait Gallery,4ac518d2f964a52047a720e3,51.509438,-0.128032,Art Gallery
19,London,51.507322,-0.127647,Trafalgar Square Lions,50aa6e60e4b078585157bbb5,51.507641,-0.127888,Outdoor Sculpture
20,Sydney,-33.854816,151.216454,Sydney Opera House - Concert Hall,502d0f6fe4b047ef99541af2,-33.856595,151.215058,Concert Hall
21,Sydney,-33.854816,151.216454,Drama Theatre,4b05876af964a5204f9122e3,-33.856863,151.214759,Theater
22,Sydney,-33.854816,151.216454,Sydney Opera House,4b058762f964a5201b8f22e3,-33.857260,151.215040,Opera House
23,Sydney,-33.854816,151.216454,Sydney Opera House - Studio,4cde36c141ed224ba2bdd73c,-33.856991,151.214482,Theater
24,Sydney,-33.854816,151.216454,Sydney Opera House - Playhouse,4b05876af964a520509122e3,-33.857518,151.214559,Theater
25,Sydney,-33.854816,151.216454,Bennelong Restaurant,4b629528f964a520014c2ae3,-33.857564,151.214794,Australian Restaurant
26,Sydney,-33.854816,151.216454,Opera Kitchen,4d1440e0bb488cfa079795d4,-33.857972,151.213989,Café
27,Sydney,-33.854816,151.216454,Joan Sutherland Theatre,503749a5e4b05b4c79fb2d23,-33.857514,151.214286,Concert Hall
28,Sydney,-33.854816,151.216454,Opera Bar,4b058760f964a520988e22e3,-33.858409,151.213976,Cocktail Bar
29,Sydney,-33.854816,151.216454,Sydney Opera House Forecourt,4b9de72af964a5202dc236e3,-33.858184,151.214619,Plaza
30,New York,40.712728,-74.006015,The Bar Room at Temple Court,57f0689d498e7d49d9189369,40.711448,-74.006802,Hotel Bar
31,New York,40.712728,-74.006015,The Beekman - A Thompson Hotel,56d8c0f8498edb854f926e6a,40.711173,-74.006702,Hotel
32,New York,40.712728,-74.006015,City Hall Park,3fd66200f964a520d8f11ee3,40.712415,-74.006724,Park
33,New York,40.712728,-74.006015,Alba Dry Cleaner & Tailor,4c606c3e1e5cd13ad1a1a1ed,40.711434,-74.006272,Laundry Service
34,New York,40.712728,-74.006015,The Wooly Daily,56093809498e5344ab8835a6,40.712137,-74.008395,Coffee Shop
35,New York,40.712728,-74.006015,Gibney Dance Center Downtown,53373f26498e940581c90985,40.713923,-74.005661,Dance Studio
36,New York,40.712728,-74.006015,Augustine,58191674ded8f8626ed70af0,40.711310,-74.006660,French Restaurant
37,New York,40.712728,-74.006015,The Class by Taryn Toomey,58a253c830ecc66c9e5b40a0,40.712753,-74.008734,Gym / Fitness Center
38,New York,40.712728,-74.006015,Takahachi Bakery,4c154c9a77cea593c401d260,40.713653,-74.008804,Bakery
39,New York,40.712728,-74.006015,Aahar Indian Cuisine,575dea4c498e2739e43a27e2,40.713307,-74.007994,Indian Restaurant
40,Toronto,43.653963,-79.387207,Downtown Toronto,5227bb01498e17bf485e6202,43.653232,-79.385296,Neighborhood
41,Toronto,43.653963,-79.387207,Japango,4ae7b27df964a52068ad21e3,43.655268,-79.385165,Sushi Restaurant
42,Toronto,43.653963,-79.387207,Textile Museum of Canada,4ad4c05ef964a520e2f620e3,43.654396,-79.386500,Art Museum
43,Toronto,43.653963,-79.387207,Poke Guys,57bcd3b7498e652a678d0378,43.654895,-79.385052,Poke Place
44,Toronto,43.653963,-79.387207,Sansotei Ramen 三草亭,504bbf2ce4b0168121235cbe,43.655157,-79.386501,Ramen Restaurant
45,Toronto,43.653963,-79.387207,Tsujiri,56ccd5cfcd1069ca160a797e,43.655374,-79.385354,Tea Room
46,Toronto,43.653963,-79.387207,Manpuku まんぷく,4ad9f607f964a520691c21e3,43.653612,-79.390613,Japanese Restaurant
47,Toronto,43.653963,-79.387207,Aboveground Art Supplies,4adf3c01f964a5208f7821e3,43.652646,-79.390925,Arts & Crafts Store
48,Toronto,43.653963,-79.387207,Nathan Phillips Square,4ad4c05ef964a520a6f620e3,43.652270,-79.383516,Plaza
49,Toronto,43.653963,-79.387207,Chatime 日出茶太,4e2284b11fc7c0ef9857d143,43.655542,-79.384684,Bubble Tea Shop
50,Wellington,-41.288795,174.777211,Lamason,4dc8716bd4c0bf684191524a,-41.289843,174.776001,Coffee Shop
51,Wellington,-41.288795,174.777211,Wellington Waterfront,4cd3bd1104c2236a2a1fcfc7,-41.288074,174.779528,Waterfront
52,Wellington,-41.288795,174.777211,Tatsushi,503187d5e4b07f473add5c59,-41.289690,174.775691,Japanese Restaurant
53,Wellington,-41.288795,174.777211,Nikau Gallery Cafe,4b058778f964a5204b9422e3,-41.288483,174.777578,Café
54,Wellington,-41.288795,174.777211,Crepes a Go-Go,4b675d51f964a520804a2be3,-41.290790,174.776185,Creperie
55,Wellington,-41.288795,174.777211,Burger Liquor,54612d51498efc8d1c040a8b,-41.289807,174.774360,Burger Joint
56,Wellington,-41.288795,174.777211,Fork & Brewer,4e69fcb245ddadf2d040de0a,-41.289270,174.775769,Gastropub
57,Wellington,-41.288795,174.777211,City Gallery Wellington,4b05e83af964a5208fe522e3,-41.288542,174.777242,Art Gallery
58,Wellington,-41.288795,174.777211,Apache,55a4b135498e37bc4089dad5,-41.289697,174.777128,Vietnamese Restaurant
59,Wellington,-41.288795,174.777211,Little Beer Quarter,4e2a89c445dd3272c808b44a,-41.290625,174.775147,Beer Bar

<H4> Lets check some details about the venues

In [9]:
city_view = city_venues.groupby('City').count()
city_cat = city_view['Venue Category']
city_cat

City
London        10
New York      10
Paris         10
Sydney        10
Toronto       10
Wellington    10
Name: Venue Category, dtype: int64

In [10]:
print('There are {} uniques categories.'.format(len(city_venues['Venue Category'].unique())))
print(city_venues['Venue Category'].unique() )

There are 45 uniques categories.
['Plaza' 'Park' 'Pedestrian Plaza' 'Alsatian Restaurant' 'Ice Cream Shop'
 'Cosmetics Shop' 'Department Store' 'Pastry Shop' 'Historic Site'
 'Art Museum' 'Fountain' 'Spa' 'Church' 'Hotel' 'Monument / Landmark'
 'Art Gallery' 'Outdoor Sculpture' 'Concert Hall' 'Theater' 'Opera House'
 'Australian Restaurant' 'Café' 'Cocktail Bar' 'Hotel Bar'
 'Laundry Service' 'Coffee Shop' 'Dance Studio' 'French Restaurant'
 'Gym / Fitness Center' 'Bakery' 'Indian Restaurant' 'Neighborhood'
 'Sushi Restaurant' 'Poke Place' 'Ramen Restaurant' 'Tea Room'
 'Japanese Restaurant' 'Arts & Crafts Store' 'Bubble Tea Shop' 'Waterfront'
 'Creperie' 'Burger Joint' 'Gastropub' 'Vietnamese Restaurant' 'Beer Bar']

In [11]:
city_venues.groupby('Venue Category').count()

,City,City Latitude,City Longitude,Venue,Venue id,Venue Latitude,Venue Longitude
Venue Category,,,,,,,
Alsatian Restaurant,1,1,1,1,1,1,1
Art Gallery,2,2,2,2,2,2,2
Art Museum,3,3,3,3,3,3,3
Arts & Crafts Store,1,1,1,1,1,1,1
Australian Restaurant,1,1,1,1,1,1,1
Bakery,1,1,1,1,1,1,1
Beer Bar,1,1,1,1,1,1,1
Bubble Tea Shop,1,1,1,1,1,1,1
Burger Joint,1,1,1,1,1,1,1
Café,2,2,2,2,2,2,2
Church,1,1,1,1,1,1,1
Cocktail Bar,1,1,1,1,1,1,1
Coffee Shop,2,2,2,2,2,2,2
Concert Hall,2,2,2,2,2,2,2
Cosmetics Shop,1,1,1,1,1,1,1
Creperie,1,1,1,1,1,1,1
Dance Studio,1,1,1,1,1,1,1
Department Store,1,1,1,1,1,1,1
Fountain,1,1,1,1,1,1,1
French Restaurant,1,1,1,1,1,1,1
Gastropub,1,1,1,1,1,1,1
Gym / Fitness Center,1,1,1,1,1,1,1
Historic Site,1,1,1,1,1,1,1
Hotel,2,2,2,2,2,2,2
Hotel Bar,1,1,1,1,1,1,1
Ice Cream Shop,1,1,1,1,1,1,1
Indian Restaurant,1,1,1,1,1,1,1
Japanese Restaurant,2,2,2,2,2,2,2
Laundry Service,1,1,1,1,1,1,1
Monument / Landmark,1,1,1,1,1,1,1
Neighborhood,1,1,1,1,1,1,1
Opera House,1,1,1,1,1,1,1
Outdoor Sculpture,1,1,1,1,1,1,1
Park,3,3,3,3,3,3,3
Pastry Shop,1,1,1,1,1,1,1
Pedestrian Plaza,1,1,1,1,1,1,1
Plaza,4,4,4,4,4,4,4
Poke Place,1,1,1,1,1,1,1
Ramen Restaurant,1,1,1,1,1,1,1
Spa,1,1,1,1,1,1,1
Sushi Restaurant,1,1,1,1,1,1,1
Tea Room,1,1,1,1,1,1,1
Theater,3,3,3,3,3,3,3
Vietnamese Restaurant,1,1,1,1,1,1,1
Waterfront,1,1,1,1,1,1,1

<H2> Preparing data for clustering and clusturing them using K-Means

In [12]:
# one hot encoding
city_onehot = pd.get_dummies(city_venues[['Venue Category']], prefix="", prefix_sep="")

# add Lieux column back to dataframe
city_onehot['City'] = city_venues['City'] 

# move lieux column to the first column
fixed_columns = [city_onehot.columns[-1]] + list(city_onehot.columns[:-1])
city_onehot = city_onehot[fixed_columns]

city_onehot.head()

,City,Alsatian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Australian Restaurant,Bakery,Beer Bar,Bubble Tea Shop,Burger Joint,...,Pedestrian Plaza,Plaza,Poke Place,Ramen Restaurant,Spa,Sushi Restaurant,Tea Room,Theater,Vietnamese Restaurant,Waterfront
0,Paris,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,Paris,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Paris,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,Paris,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Paris,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
city_grouped = city_onehot.groupby('City').mean().reset_index()
city_grouped

,City,Alsatian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Australian Restaurant,Bakery,Beer Bar,Bubble Tea Shop,Burger Joint,...,Pedestrian Plaza,Plaza,Poke Place,Ramen Restaurant,Spa,Sushi Restaurant,Tea Room,Theater,Vietnamese Restaurant,Waterfront
0,London,0.0,0.1,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.1,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0
1,New York,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Paris,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Sydney,0.0,0.0,0.0,0.0,0.1,0.0,0.0,0.0,0.0,...,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.3,0.0,0.0
4,Toronto,0.0,0.0,0.1,0.1,0.0,0.0,0.0,0.1,0.0,...,0.0,0.1,0.1,0.1,0.0,0.1,0.1,0.0,0.0,0.0
5,Wellington,0.0,0.1,0.0,0.0,0.0,0.0,0.1,0.0,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1

In [14]:
kclusters = 3

city_clustering = city_grouped.drop('City', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(city_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_

array([0, 2, 2, 1, 0, 0])

In [15]:
#Let's create a new dataframe that includes the cluster as well as the top 5 venues for each Lieux.

city_merged = city_df

# add clustering labels
city_merged['Cluster Labels'] = kmeans.labels_


city_merged 
# check the last columns!

        Cites   Latitude   Longitude  Cluster Labels
0       Paris  48.856610    2.351499               0
1      London  51.507322   -0.127647               2
2      Sydney -33.854816  151.216454               2
3    New York  40.712728  -74.006015               1
4     Toronto  43.653963  -79.387207               0
5  Wellington -41.288795  174.777211               0

<H2> Creating Map to show the result of clustering

In [16]:
latitude = city_merged.iloc[1]['Latitude']
longitude = city_merged.iloc[1]['Longitude']
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=1)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(city_merged['Latitude'], city_merged['Longitude'], city_merged['Cites'], city_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=10,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters